.venv
__pycache__
.idea
node_modules
dist
package-lock.json
.pytest_cache
.venv

# CDK asset staging directory
.cdk.staging
cdk.out
node_modules
layers
cdk.context.json
.python-version
.env
.vscode
configs
samples
